.editor {
    height: 100vh;
    width: 100%;
}

.viewerColumn {
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    direction: rtl;
}

.notesColumn {
    flex-grow: 1;
}

.editor .resizeHandle {
    background-color: #555;
    width: 5px;
    cursor: col-resize;
}