.notesCanvas {
    background-color: #EEE;
    position: relative;
    overflow: hidden;
}

.notesCanvas .zoomPercentage {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 80%;
    background-color: #777;
    color: #FFF;
    padding: 5px 8px;
    border-radius: 20%;
    z-index: 9;
}

.notesCanvas .movingCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
}

.note {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #FFF;
    box-shadow: 5px 10px 15px #888;
}

.note .reference {
    background-color: #CCC;
    font-size: 11pt;
    padding: 5px;
    color: #FFF;
    border: none;
    outline: none;
}

.note button.reference {
    cursor: pointer;
}

.note div.reference {
    cursor: move;
}

.note button.reference:active {
    background-color: #BBB;
}

.note .moveHandle {
    padding: 3px 10px;
    text-align: center;
    background-color: #F6F6F6;
    cursor: move;
}

.note .moveHandle>div {
    border-color: #ccc;
    border-width: 1px 0px;
    border-style: solid;
    padding: 1px;
}

.note .textArea {
    min-width: 30px;
    min-height: 20px;
    padding: 5px 10px;
}

.note .textArea:active {
    /* box-shadow: none !important; */
    /* text-shadow: none !important; */
    /* border: none !important; */
    outline: none;
}

.note .textArea:focus {
    /* box-shadow: none !important; */
    /* text-shadow: none !important; */
    /* border: none !important; */
    outline: none;
    border: blue 2px solid;
}

.note .resizeHandle {
    position: absolute;
    right: -9px;
    bottom: -15px;
    color: #222;
    opacity: 70%;
    transform: rotate(45deg);
    border: none;
    outline: none;
    cursor: se-resize;
    background: transparent;
}

.note .resizeHandle.fixed {
    color: #c22020;
}

.note .resizeHandle:active {
    opacity: 100%;
}