.debugBox1 {
    border: 3px solid red;
    background-color: salmon;
}
.debugBox2 {
    border: 3px solid blue;
    background-color: lightblue;
}
.debugBox3 {
    border: 3px solid green;
    background-color: lightgreen;
}
.debugBox4 {
    border: 3px solid yellow;
    background-color: lightyellow;
}
.debugBox5{
    background-image: url('https://picsum.photos/400/400');
}