* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Remove bullet points */

ul {
	list-style-type: none;
}

/* Remove undrlining */

a {
	text-decoration: none;
}

/* Keep big images in the container */

img {
	width: 100%;
}

#root {}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}